<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xz.mapper.TMenuMapper">

    <resultMap type="com.xz.pojo.TMenu" id="TMenuMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="perms" column="perms" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询所有-->
    <select id="queryAll" resultMap="TMenuMap">
        select id,
               name,
               url,
               parent_id,
               sort,
               icon,
               perms,
               type
        from t_menu
    </select>

    <select id="selectMenus" resultMap="TMenuMap">
        select *
        from t_menu
        limit #{limitIndex},5
    </select>
    <!--查询单个-->
    <select id="queryById" resultMap="TMenuMap">
        select *
        from t_menu
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="TMenuMap">
        select
        id, name, url, parent_id, sort, icon, perms, type
        from t_menu
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="url != null and url != ''">
                and url = #{url}
            </if>
            <if test="parentId != null">
                and parent_id = #{parentId}
            </if>
            <if test="sort != null">
                and sort = #{sort}
            </if>
            <if test="icon != null and icon != ''">
                and icon = #{icon}
            </if>
            <if test="perms != null and perms != ''">
                and perms = #{perms}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from t_menu
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="url != null and url != ''">
                and url = #{url}
            </if>
            <if test="parentId != null">
                and parent_id = #{parentId}
            </if>
            <if test="sort != null">
                and sort = #{sort}
            </if>
            <if test="icon != null and icon != ''">
                and icon = #{icon}
            </if>
            <if test="perms != null and perms != ''">
                and perms = #{perms}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into t_menu(name, url, parent_id, sort, icon, perms, type)
        values (#{name}, #{url}, #{parentId}, #{sort}, #{icon}, #{perms}, #{type})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into t_menu(name, url, parent_id, sort, icon, perms, type)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.name}, #{entity.url}, #{entity.parentId}, #{entity.sort}, #{entity.icon}, #{entity.perms},
            #{entity.type})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into t_menu(name, url, parent_id, sort, icon, perms, type)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.name}, #{entity.url}, #{entity.parentId}, #{entity.sort}, #{entity.icon}, #{entity.perms},
            #{entity.type})
        </foreach>
        on duplicate key update
        name = values(name),
        url = values(url),
        parent_id = values(parent_id),
        sort = values(sort),
        icon = values(icon),
        perms = values(perms),
        type = values(type)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update t_menu
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="url != null and url != ''">
                url = #{url},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
            <if test="icon != null and icon != ''">
                icon = #{icon},
            </if>
            <if test="perms != null and perms != ''">
                perms = #{perms},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from t_menu
        where id = #{id}
    </delete>

</mapper>


